* {
    box-sizing: border-box;
    font-family: Arial;

  }
p {font-size: 1em;}



header { 
    background-color: #fbf9f9;

}
.container img {

    margin: 0;
    height: 4em;
}
header .nombre {
    margin: 0;
    padding: 10px 10px;
}
header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 5px 12px;
}
header a:hover {
    transition: all 1s;
    color: #BFBFBF;
}
header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 15px;
 }
 
body { 
    background-color: #BFBFBF;
    margin: 0;
} 
.div {
    margin: auto;
} 
.section1 {
    display: flex;
    align-items: center;
    text-align: center;
    height: 40vh;
    background-image: url("imagenes/antartida3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.fondo-antartida {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 16em;
    width: 16em;
    background-color: #fbf9f9 ;
    border-radius: 20px;

}        
.fondo-antartida img {
    display: flex;
    flex-direction: column;
    width: 7.5em;
    height: 7.5em;
}


.bear {
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
}

.section2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
}
.contenedor {
   width: 22em;
   height: 20em;
   margin: auto;
   background-color: #fbf9f9;
   border-radius: 20px;
}
.contenedor h1 {
    margin-bottom: 0;
    font-size: 1.5em;
    padding: 5px 40px;
    color: #000000;
}
.contenedor p {
    margin: 0;
    font-size: 17px;
    padding-left: 5px;
}
.contenedor2 {
    margin: auto;
    width: 22em;
    height: 20em;
    border-radius: 20px;
    background-color: #fff;
}
.contenedor2 img {
    width: 22em;
    border-radius: 20px;
}
.contenedor2 #parrafo {
    margin: 0;
    font-size: 18px;
    padding-top: 20px;
}
.unidos {
    position: absolute;
    width: 21em;
    height: 20em;
}
.contenedor2 p {
    position: absolute;
    color: #ffffff;
    font-size: 20px;
}

.section3 {
    height: 80vh;

}
.section3 .contenedor {
    text-align: center;
}
.section3 img {
    width: 120px;
    height: 120px;
}
.section3 .contenedor3 {
    width: 22em;
    height: 20em;
    margin: auto;
    margin-top: 60px;
    border-radius: 20px;
    background-color: #fbf9f9;
}
.contenedor3 h1 {
    text-align: center;
    padding-top: 15px;
}
.contenedor3 p {
    padding-top: 30px;
    padding-left: 10px;
    font-size: 20px;
}




footer {
    background-color: #D9D9D9;
    margin: 0;
}
footer .container {
    display: flex;
    height: 4em;
    align-items: center;
    text-align: center;
}
footer p {
    display: flex;
   font-size: 14px;
   margin-left: 12px;
   margin-top: 2em;
   justify-content: center;
}

.section4 {
    height: 100vh;
}
.contenedor4 {
    height: 500px;
    width: 22em;
    background: #fbf9f9;
    border-radius: 20px;
    margin: auto;
}
.contenedor4 img {
    height: 500px;
    width: 22em;
    border-radius: 20px;
}
.contenedor5 {
    margin: auto;
    width: 22em;
    height: 400px;
    margin-top: 40px;
    border-radius: 20px;
    background: lightblue;

}
.contenedor5 img {
    width: 350px;
    padding-top: 100px;
}






@media (min-width: 720px) {
    header .container {
        flex-direction: row;
        margin-left: 1em;
    }
    header nav {
        flex-direction: row;
        margin-top: 0.9em;
    }
    
    .section1 .div {
        margin: 0;
        margin-left: 2em;
    }
    .section1 .fondo-antartida {
        display: inline-block;
        width: 20em;
        height: 20em;
    }
    .fondo-antartida img {
        margin: auto;
        margin-top: 3em;
        width: 10em;
        height: 10em;
    }

    .section2 {
        display: flex;
        height: 55vh;
    }
    .section2 .contenedor{
        margin: 0;
        position: absolute;
        margin-top: 30px;
        margin-left: 20px;
        height: 500px;
        width: 800px;
    }
    .contenedor h1 {
        font-size: 35px;
    }
    .contenedor p {
        padding-top: 25px;
        font-size: 25px;
    }

    .section2 .contenedor2 {
        margin: 0;
        margin-left: 1000px;
        margin-top: 30px;
        height: 500px;
        width: 820px;
    }
    .contenedor2 img {
        height: 500px;
        width: 820px; 
    }
    .contenedor2 #parrafo {
        padding-top: 25px;
        font-size: 25px;
    }


    .section3 {
        display: flex;
        height: 55vh;
    }
    .section3 .contenedor{
        margin: 0;
        position: absolute;
        margin-top: 30px;
        margin-left: 20px;
        height: 500px;
        width: 800px;
    }
    .section3 .contenedor h1 {
        font-size: 35px;
    }
    .section3 .contenedor p {
        padding-top: 25px;
        font-size: 25px;
    }
    .section3 .contenedor img {
        height: 200px;
        width: 200px;
    }
    .section3 .contenedor3 {
        margin: 0;
        margin-left: 1000px;
        margin-top: 30px;
        height: 500px;
        width: 800px;
    }
 
    .contenedor3 p {
        padding-top: 25px;
        font-size: 25px;
    }



    .section4 {
        display: flex;
        height: 60vh;
    }
    .contenedor4{
        margin: 0;
        position: absolute;
        margin-top: 30px;
        margin-left: 20px;
        height: 500px;
        width: 800px;
    }

    .contenedor4 img {
        height: 500px;
        width: 500px;
        margin-left: 130px;
    }
    .contenedor5 {
        margin: 0;
        margin-left: 1000px;
        margin-top: 30px;
        height: 500px;
        width: 800px;
    }
 
    .contenedor5 img {
        margin: 180px 250px;
        padding: 0;
    }
}   